
.go-right{
    float: right;
    position: relative;
}

.section{
    padding: 8rem 0 7rem;
    text-align: center;
  }
  
  .section-heading,
  .section-description{
    margin-bottom:1.2rem;
  }
  
  .showcase-img{
    position: relative;
    max-width: 80%;
    margin:3rem auto -12rem;
  }
  .section-a{
    background-image: url('../images/section-bg.jpg');
    background-size:cover;
    color:#fff;
    padding-bottom:5rem;
  }
  
  .section-a .fa{
    font-size:40px;
    margin-bottom:.5rem;
    color:#beebff;
  }
  
  .section-a h5{
    margin-bottom:.3rem;
  }
  .section-c a:Home{
    color: #A9A9A9;
    padding: 0.4em 1em;
    text-decoration: none;
  }
  .section-c a:About Us{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:App{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:Contact Us{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:Forum{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
  
  .section-c{
    background-image: url('../images/section-bg.jpg');
    background-size:cover;
    color:#fff;
  }
  
  .section-c .section-description{
    margin-bottom:4rem;
  }
  
  @media(min-width:750px){
    .showcase-heading{
      font-size:3.0rem;
      padding-top:11rem;
    }
  }

  

.bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    display: contents;
	justify-content: center;
    align-items: center;
    
}

.modal-contents {
	height: 300px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
    border-radius: 4px;
   
}

input {
	margin: 30px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

.close {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 30px;
    color: #000;
}


