
.go-right{
    float: right;
    position: relative;
}

.section{
    padding: 8rem 0 7rem;
    text-align: center;
  }
  
  .section-heading,
  .section-description{
    margin-bottom:1.2rem;
  }
  
  .showcase-img{
    position: relative;
    max-width: 80%;
    margin:3rem auto -12rem;
  }
  .section-a{
    background-image: url('../images/section-bg.jpg');
    background-size:cover;
    color:#fff;
    padding-bottom:5rem;
  }
  
  .section-a .fa{
    font-size:40px;
    margin-bottom:.5rem;
    color:#beebff;
  }
  
  .section-a h5{
    margin-bottom:.3rem;
  }
  .section-c a:Home{
    color: #A9A9A9;
    padding: 0.4em 1em;
    text-decoration: none;
  }
  .section-c a:About Us{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:App{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:Contact Us{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
.section-c a:Forum{
    color: #D3D3D3;
    padding: 0.4em 1em;
    text-decoration: none;
}
  
  .section-c{
    background-image: url('../images/section-bg.jpg');
    background-size:cover;
    color:#fff;
  }
  
  .section-c .section-description{
    margin-bottom:4rem;
  }
  
  @media(min-width:750px){
    .showcase-heading{
      font-size:3.0rem;
      padding-top:11rem;
    }
  }